!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Adtest"
      %meta{:content => content_for?(:description) ? yield(:description) : "Adtest", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
    %script(type="text/javascript")
      :plain
        var extent = 0;
        var ids = [];
        var code = '';
        function loadPlaylist(data) {
          var obj = data.combinations[Math.floor(Math.random()*data.combinations.length)][0];
          extent = obj.combination.extent;
          code = obj.combination.code;
          ids = obj.combination.ids.split(",");
        }
        function loadResources(json) {
          console.log(json);
          for(var i = 0; i < json.length; i++) {
            obj = json[i];
            for(var j = 0; j < ids.length; j++) {
              if (parseInt(ids[j]) == obj.ad_resource.id) {
                var resource_data = obj.ad_resource.resource_data;
                var area_tag = '#'+obj.ad_resource.area.code;
                console.log(resource_data);
                console.log(extent);
                console.log(ids);
                $(area_tag).append(resource_data);
              }
            }
          }
        }
    %script(type="text/javascript" src="http://placeify.herokuapp.com/playlists/secureidnews.js?callback=loadPlaylist")
    %script(type="text/javascript" src="http://placeify.herokuapp.com/things/secureidnews.js?callback=loadResources")
